<nz-layout id="container">
  <nz-sider nzCollapsible nzBreakpoint="md" nzWidth="200px" nzTheme="dark">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="'articles'">
          <i nz-icon nzType="unordered-list"></i>
          <span>Danh sách bài viết</span>
        </a>
      </li>
      <!-- <li nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="file"></i>
        <span>File</span>
      </li> -->
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li nz-menu-item nzMatchRouter nzMatchRouterExact>
          <a [routerLink]="['/']">Trang chủ</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a [routerLink]="['/', 'safe-editor']">Hỗ trợ soạn thảo</a>
        </li>
      </ul>
    </nz-header>
    <nz-content style="position:  relative;perspective:  1200px; transformStyle: 'preserve-3d';overflow:  hidden;" [@routerTransition]="animParam">
      <router-outlet #routerOutlet="outlet" (activate)='onActivate($event)'></router-outlet>
    </nz-content>
    <nz-footer style="background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);">Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>