#container {
    min-height: 100vh;
}

.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

nz-header {
    background: #fff;
    padding: 0;
}

.header-menu {
    line-height: 64px;
}

// nz-content {
//     margin: 0 16px;
// }

nz-breadcrumb {
    margin: 16px 0;
}

nz-footer {
    text-align: center;
}

#footer {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
